@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700,900&display=swap");

:root {
  --gradient: linear-gradient(135deg, #5151e5 10%, #72edf2 100%);
}

* {
  box-sizing: border-box;
  line-height: 1.25em;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.clear {
  clear: both;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url("./assets/blue-sky-clouds.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.container {
  display: flex;
  border-radius: 25px;
  box-shadow: 0 20px 70px 0px rgb(0, 0, 0, 0.8);
  color: #ffffff;
  margin: 20px;
  height: max-content;
}

.weather-side {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 20px;
  border-radius: 25px;
  width: 300px;
  background-image: var(--gradient);
  transition: transform 300ms ease;
  transform: translateZ(0) scale(1.02) perspective(1000px);
}

.weather-side:hover {
  -webkit-transform: scale(1.1) perspective(2000px) rotateY(10deg);
  transform: scale(1.1) perspective(2000px) rotateY(10deg);
}

.date-dayname {
  margin: 0;
}

.date-day {
  display: block;
}

.location {
  display: inline-block;
  margin-top: 10px;
}

.location-icon {
  display: inline-block;
  height: 1em;
  width: auto;
  margin-right: 5px;
}

.weather-temp {
  margin: 0;
  font-weight: 700;
  font-size: 4em;
}

.weather-desc {
  margin: 0;
}

.info-side {
  color: #000;
  position: relative;
  float: left;
  height: 100%;
  padding-top: 25px;
}

.today-info {
  padding: 15px;
  margin: 0 25px 25px 25px;
  box-shadow: 0 0 50px -5px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.today-info > div:not(:last-child) {
  margin: 0 0 10px 0;
}

.today-info > * {
  display: flex;
  justify-content: space-between;
}

.today-info > div .title {
  font-weight: 700;
}

.week-list {
  list-style-type: none;
  padding: 0;
  margin: 10px 35px;
  box-shadow: 0 0 50px -5px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.week-list > li {
  float: left;
  padding: 15px;
  cursor: pointer;
  transition: 200ms ease;
  border-radius: 10px;
}

.week-list > li:hover {
  transform: scale(1.1);
  background: #fff;
  color: #222831;
  box-shadow: 0 0 40px -5px rgba(0, 0, 0, 0.2);
}

.week-list > li.active {
  background: #fff;
  color: #222831;
  border-radius: 10px;
}

.week-list > li .day-name {
  display: block;
  margin: 10px 0 0 0;
  text-align: center;
}

.week-list > li .day-icon {
  display: block;
  height: 40px;
  width: auto;
  margin: 0 auto;
}

.week-list > li .day-temp {
  display: block;
  text-align: center;
  margin: 10px 0 0 0;
  font-weight: 700;
}

.location-container {
  padding: 25px 35px;
}

.location-button {
  outline: none;
  width: 100%;
  box-sizing: border-box;
  border: none;
  border-radius: 25px;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  background-image: var(--gradient);
  color: #ffffff;
  font-weight: 700;
  box-shadow: 0 0 30px -5px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: transform 200ms ease;
  transition: transform 200ms ease, -webkit-transform 200ms ease;
}

.location-button:hover {
  transform: scale(0.95);
}

.location-button .feather {
  height: 1em;
  width: auto;
  margin-right: 5px;
}

.location-button option {
  color: #000;
}

@media screen and (max-width: 600px) {
  .wrapper {
    height: max-content;
  }
  .container {
    flex-direction: column;
  }
  .weather-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    width: 100%;
  }
}
